.modal {
    display: none;
    position: fixed;
    z-index: 1000;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-color: #1a1a1ad6;
}

.modal-close {
    width: 40px;
    height: 40px;
    background-color: #1a1a1a;
    border-radius: 100px;
    border: solid 2px #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaaaaa;
    cursor: pointer;
    z-index: 1001;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.modal-image {
    cursor: pointer;
}

.close-on-zoom {
    top: 20px;
    right: 20px;
}

.fit-window {
    max-width: 90vw; 
    max-height: 90vh;
}

.zoom-full-size {
    max-width: calc(100vw - 40px); 
    max-height: calc(100vh - 40px); 
    overflow: scroll; 
    text-align: center;
}

.natural-size {
    max-width: none; 
    width: max-content; 
    max-height: none; 
    height: auto;
}

@media screen and (max-width: 425px) {
    .zoom-full-size {
        max-width: calc(100vw - 20px); 
        max-height: calc(100vh - 20px);
    }

    .modal-close {
        top: 10px;
        right: 10px;
    }
}