html {
  scroll-behavior: smooth;
  font-size: 20px;
  background-color: #dddddd;
}

body {
  background-color: #f1f1f1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #1a1a1a;
  max-width: 1600px;
  margin: auto;
  box-shadow: 0 0 26px #1a1a1a80;
}

section,
.header-main,
footer, article {
  padding: 0 40px;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

hr {
  background-color: #d8d8d8;
  height: 1px;
  border: 0;
  margin: 40px 0;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 32px;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 auto 16px auto;
  text-align: center;
}

p {
  margin-bottom: 16px;
}

ol, ul {
  list-style: disc;
  padding-left: 20px;
}

/* NAVIGATION */
header {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 1600px;
  width: 100%;
  height: 60px;
  background-color: #1a1a1a;
  overflow: hidden;
  /* TRANSPORM Y -1 FOR MOBILE MENU */
  transform: translate(-50%, -1px);
  transition: all 0.4s ease-in-out;
  z-index: 999;
}

.header-open {
  height: 190px;
}

.fixed {
  position: fixed;
}

.scroll-shadow {
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.7);
}

.hidden {
  transform: translate(-50%, -200%);
}

.header-main {
  height: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

header nav li {
  margin-left: 30px;
}

header h1,
header a {
  font-size: 1rem;
  font-weight: 700;
  color: #aaaaaa;
  transition: all 0.3s ease-in-out;
}

header .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 60px;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  cursor: pointer;
  height: 60px;
  width: 60px;
  position: absolute;
  right: -15px;
  display: flex;
  justify-content: center;
}

.hamburger img {
  width: 30px;
}

header nav .selected {
  color: #43B0DF;
}

@media (hover: hover) {
  
  header h1:hover,
  header li a:hover {
    color: #43B0DF;
    filter: brightness(120%);
  }
}

/* HERO */

.hero {
  width: 100%;
  background: url("/assets/border-wave-bottom.svg") bottom center repeat-x,
    linear-gradient(0deg, #1a1a1a00 0.2%, #1a1a1a 0.3%);
  background-clip: border-box;
}

.hero p {
  color: #e0e0e0;
}

.hero .container {
  min-height: 430px;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.greeting {
  width: 36%;
}

.greeting h2 {
  color: #43B0DF;
  padding-bottom: 10px;
}

.intro {
  width: 60%;
}

.intro p {
  font-size: 1.2rem;
}

/* SOCIAL ICONS */
.social {
  display: flex;
  margin-top: 50px;
}

.icon-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #aaaaaa;
  margin: 0px 15px;
  transition: all 0.3s ease-in-out;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (hover: hover) {
  .icon-container:hover {
    background-color: #43B0DF;
  }
}

/* CHEVRON */
.chevron-down {
  text-align: center;
  margin: 220px auto 60px auto;
}

.chevron-down h4 {
  color: #1a1a1a;
  margin-bottom: 10px;
}

/* PROJECT CARDS */
.projects {
  padding-top: 50px;
}

.projects h2 {
  margin-bottom: 100px;
}

.project-card {
  display: flex;
  height: 410px;
  margin-bottom: 240px;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;
  align-items: center;
}

.project-card h3 {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}

.project-card .ext-link:before {
  content: url(/assets/ext-link.svg);
  width: 20px;
  height: 20px;
  padding: 0 0 2px 0;
  margin-right: 10px; 
}

.project-card h3:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: -2px;
  left: 0;
  background-color: #43B0DF;
  transform: scaleY(0) translateY(-50%) skew(-15deg, 2deg);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

@media (hover: hover) {
  .project-card:hover h3:after {
    transform: scaleY(1) translateY(-50%) skew(-15deg, 2deg);
  }
}

.project-card h4 {
  margin-bottom: 20px;
}

.reverse-direction {
  flex-direction: row-reverse;
}

.projects .container:last-of-type {
  margin-bottom: 100px;
}

.project-thumb {
  min-height: 200px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.project-details {
  width: 36%;
}

.project-thumb img {
  transition: filter ease-in-out 0.3s;
}

@media (hover: hover) {
  .project-thumb img:hover {
    filter: brightness(70%) sepia(100%) hue-rotate(160deg);
  }
}

.project-card .project-thumb img.mobile-app-l {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 10%;
  width: 20%;
}

.project-card .project-thumb img.mobile-app-r {
  position: absolute;
  z-index: 4;
  top: 40%;
  right: 10%;
  width: 20%;
}

.mobile-app {
  margin: 0 5px;
  max-width: 28%;
}

/* CONTACT FORM */

.contact-form {
  margin: 80px auto;
}

.contact-form-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form-card .description {
  width: 36%;
  margin-bottom: 20px;
}

.contact-form-card form {
  width: 58%;
}

.contact-form-card p {
  font-size: 1.2rem;
}

.contact-form h3 {
  margin-bottom: 0;
}

.contact-form h4 {
  margin-bottom: 5px;
  color: #777;
}

input, textarea {
  width: 100%;
  border: solid 4px #1a1a1a;
  color: #1a1a1a;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 4px;
}

input {
  height: 60px;
}

.contact-form textarea {
  height: 240px;
  resize: vertical;
}

input:focus, textarea:focus {
  padding: 10px 15px;
}

input:required:focus:invalid {
  border: solid 4px #ffb300;
}

input:required:valid {
  border: solid 4px #4caf50;
}

input:invalid:not(:placeholder-shown) {
  border: solid 4px #c62828;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button {
  cursor: pointer;
  color: #1a1a1a;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  padding: 5px 20px;
  border: solid 4px #1a1a1a;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #43B0DF;
}

/* FOOTER */

footer {
  color: #aaaaaa;
  font-size: 0.8rem;
  width: 100%;
  background: url("/assets/border-wave-top.svg") top center repeat-x,
    linear-gradient(180deg, #1a1a1a00 0.2%, #1a1a1a 0.3%);
  padding-top: 80px;
  padding-bottom: 90px;
  transition: color 0.2s ease-in-out;
}

footer .container {
  width: 100%;
  text-align: center;  
}

footer .project-list a {
  color: #aaaaaa;
  transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
  footer a:hover {
    color: #43B0DF;
  }
}

footer .social {
  margin-top: 35px;
  justify-content: center;
}

footer .profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  margin-bottom: 20px;
  filter: grayscale(0.15);
  transition: filter 0.3s ease-in-out;
}

/* footer .profile-photo:hover {
    filter: grayscale(0.15);
} */

footer hr {
  background-color: #333;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info .project-list {
  display: block;
  text-align: left;
}

footer .credits {
  text-align: right;
}

.footer-info .project-list,
.hero .icon-container,
footer .icon-container,
.project-card .project-thumb img{
  z-index: 3;
}


/* PROJECT PAGES */

.project-hero .container{
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .project-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .project-cover img {
  max-height: 270px;
}

.projects-wrapper {
  margin: 80px auto;
}

.projects-subsection {
  margin-bottom: 100px;
}

.projects-text {
  max-width: 550px;
  margin: 0 auto 40px auto;
}

/* GALLERIES */
.gallery {
  max-width: 1120px;
  margin: 0 auto 80px auto;
}

.gallery-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gallery-container a {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  height: auto;
  flex-grow: 1;
  margin: 1%;
  overflow: hidden;
  cursor: -webkit-zoom-in;
  box-shadow: 0 2px 6px #1a1a1a54;
  border: 1px solid #aaaaaa;
  /* border-radius: 10px; */
}

.gallery-container img {
  object-position: 50% 0;
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.gallery-container.wrap-large-screens {
  flex-wrap: wrap;
}

.gallery-container.wrap-large-screens a {
  width: 23%;
}

.limit-height a {
  max-height: 250px;
}

.prototype {
  max-width: 1120px;
  margin: 0 auto 80px auto;
}

.prototype img,
.prototype iframe {
  max-width: 280px;
  margin-bottom: 2%;
}

.ext-link-container,
.anchor-link-container {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;
}

a.ext-link,
a.anchor-link,
div.ext-link {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

a.ext-link:before {
  content: url(/assets/ext-link.svg);
  width: 20px;
  height: 20px;
  padding: 0 0 2px 0;
  margin-right: 10px; 
}

a.ext-link h3,
a.anchor-link h3 {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

a.ext-link h3:after,
a.anchor-link h3:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: -2px;
  left: 0;
  background-color: #43B0DF;
  transform: scaleY(0) translateY(-50%) skew(-15deg, 2deg);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

@media (hover: hover) {
  a.ext-link:hover h3:after,
  a.anchor-link:hover h3:after {
    transform: scaleY(1) translateY(-50%) skew(-15deg, 2deg);
  }
}

.code-embed {
  max-width: 1120px;
  width: 100%;
  height: auto;
  margin: 0 auto 120px auto;
}

/* COPY EMAIL TO CLIPBOARD */
.email-link {
  position: relative;
}

.email-alert {
  display: none;
  font-size: 0.6rem;
  color: #aaaaaa;
  background-color: #1a1a1a;
  border: solid 1px #aaaaaa;
  border-radius: 50px;
  padding: 0 20px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 999;
}

@media screen and (max-width: 860px) {
  .email-alert {
    left: 0%;
    transform: translateX(0%);
  }
}

/* RESPONSIVE */
@media screen and (max-width: 340px) {
  h2,
  .greeting h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 860px) {

  section,
  .header-main,
  article,
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero .container {
    padding-top: 0;
    justify-content: center;
    flex-direction: column;
    min-height: 520px;
  }

  .hero .container, 
  .projects .container, 
  .contact-form .container, 
  .header-main .container, 
  footer .container {
    margin: auto;
    max-width: 550px;
  }

  .greeting,
  .intro {
    width: 100%;
  }

  .intro p,
  .contact-form-card p {
    font-size: 1rem;
  }

  .icon-container {
    margin: 0 15px 0 0;
  }

  .chevron-down {
    display: none;
  }

  .projects h2 {
    margin-bottom: 60px;
  }

  .project-card {
    display: block;
    height: auto;
    margin-bottom: 100px;
  }

  .project-details {
    margin-top: 40px;
  }

  .project-details,
  .project-thumb {
    width: 100%;
  }
  
  .project-card .project-details p {
    display: none;
  }

  .gallery-container.wrap-large-screens a {
    width: 46%;
  }

  .gallery-container{
    flex-wrap: wrap;
  }

  .gallery-container a {
    width: 100%;
    margin: 2%;
  }

  .limit-height a {
    max-height: 180px;
  }

  .contact-form-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-form-card .description,
  .contact-form-card form {
    width: 100%;
  }

  footer .credits {
    max-width: 200px;
  }

}

@media screen and (max-width: 425px) {
  footer {
    padding-bottom: 60px;
  }

  .footer-info {
    display: block;
  }

  .footer-info .project-list {
    text-align: center;
  }

  footer .credits {
    margin: 20px auto auto auto;;
    text-align: center;
    max-width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .hero .container {
    min-height: 580px;
  }

  .hero .project-cover img {
    max-height: 380px;
}

  section, .header-main, footer, article {
    padding: 0 20px;
  }

  footer {
    padding: 60px 20px;
  }

  .project-card {
    display: block;
    height: auto;
    margin-bottom: 80px;
  }

  .mobile-app {
    max-width: 70%;
  }

  .project-card .project-thumb img.mobile-app-r {
    width: 25%;
  }

  .screen-mid, 
  .screen-right {
    display: none;
  }

  .prototype img,
  .prototype iframe {
    max-width: 200px;
    max-height: 380px;
  }

  .limit-height a {
    max-height: 120px;
  }

}

/* MOBILE MENU */
@media screen and (max-width: 425px) {
  .header-main nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header-main nav h1 {
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px;
    line-height: 30px;
  }

  .header-main nav ul {
    flex-direction: column;
  }

  .header-main nav li {
    display: flex;
    margin-left: 0;
    margin-bottom: 15px;
  }

  .header-main .container {
    display: block;
  }
}

@media screen and (min-width: 426px) {
  header {
    height: 60px !important;
  }

  .header-main nav {
    display: block !important ;
  }

  .hamburger {
    display: none !important ;
  }
}